<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="./css/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div id="back">
        <canvas id="canvas" class="canvas-back"></canvas>
        <!-- <div class="backRight">

        </div> -->
        <div class="backLeft">

        </div>
    </div>

    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <div class="content">
                    <div class="cartel">
                        <h1>Escuela </h1>
                        <p>Sistema de gestion de cursos </p>
                    </div>
                   <h2>Registrarse</h2>
                    <p style="color:#FF0000" th:if="${error != null}" th:text="${error}"></p>
                    <form id="form-signup" th:action="@{/paciente/registro}" method="post" >
                        <div class="form-element form-stack">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" type="email" name="email">
                        </div>
                        <div class="form-element form-stack">
                            <label for="username-signup" class="form-label">Nombre y Apellido</label>
                            <input id="username-signup" type="text" name="nombreCompleto">
                        </div>
                        <div class="form-element form-stack">
                            <label for="username-signup" class="form-label">DNI</label>
                            <input id="username-signup" type="number" name="dni">
                        </div>
                        <div class="form-element form-stack">
                            <label for="username-signup" class="form-label">Telefono</label>
                            <input id="username-signup" type="phone" name="telefono">
                        </div>
                        <div class="form-element form-stack">
                            <select class="form-select $form-select-grey " type="text" name="genero" >
                                <option selected>Genero</option>
                                <option value="MASCULINO">Masculino</option>
                                <option value="FEMENINO">Femenino</option>
                                <option value="OTRO">Otro</option>
                            </select>
                        </div>

                     <!----   <div class="form-element form-submit">
                            <button id="signUp" class="signup" style="width: auto;" type="submit" name="signup">Registrar</button>
                            <button id="goLeft" class="signup off" type="button" onsubmit="return false">Ingresar</button>
                           
                        </div>

                    </form>
                    
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="cartel1">
                        <h1>ESCUELA </h1>
                        <p>Sistema de gestion de cursos </p>
                    </div>
                    <h2>Ingresar</h2>
                    <p style="color:#FF0000" th:if="${error != null}" th:text="${error}"></p>
                    <form id="form-login" method="post" th:action="@{/login}" >
                        <div class="form-element form-stack">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" type="email" name="email">
                        </div>
                        <div class="form-element form-stack">
                            <label for="password-login" class="form-label">Contraseña</label>
                            <input id="password-login" type="password" name="password">
                        </div>
                        
                        <div class="form-element form-submit" >
                           <button id="logIn" class="login"  type="submit" name="login" >Ingresar</button> 
                           <button id="goRight" class="login off" style="width: fit-content; " type="button" name="signup" onsubmit="return false;">Registro</button>
                        </div>  
                        
                     </form>  
                    
                    
                    <!-- <p>
                    <a th:href="@{/login}"><button id="logIn"class="login" name="login" >Ingresar</button></a>
                    <button id="goRight" class="login off" name="signup">Registro</button>
                    </p> -->
                </div>
            </div> -->
        </div>
    </div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js'></script><script  src="./js/script.js"></script>
</body>
</html>